*{
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.6);
}

.logo {
    height: 40px;
    width: 40px;
}

.btn-cart img{
    height: 40px;
    width: 40px;
}

.cart-container{
    min-height: 70vh;
    width: 80vw;
    margin: 50px 0px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 100px 10px black;
}

.cart {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: show-cart;
    animation-duration: 1s;
}

.cart-tools {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 10px;
}

.none {
    display: none;
}

.card-cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 30px 20px 30px;
    padding-top: 10px;
    border-top: 1px solid black;
}

.cart-text h5::first-letter{
    text-transform: uppercase;
}

.cart-img{
    width: 10%;
    height: 10%;
}

.BuyForm{
    margin: 20px;
}

.nav-item {
    animation-name: show-item;
    animation-duration: 2s;
}

.nav-link::first-letter{
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://img.freepik.com/fotos-premium/pared-azulejos-modernos-representacion-3d_118019-4.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.detail-container {
    background-color: white;
    height: 100vh;
    width: 90vw;
    margin: 80px;
    border-radius: 5px;
}

.detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    border-radius: 5px;
    box-shadow: 0px 0px 100px 20px black;
}

.text-detail{
    margin: 50px;
}

.text-detail ul{
    padding: 0;
}

.list-group-item{
    font-size: large;
    font-weight: 500;
}

.title {
    font-size: x-large;
    text-transform: uppercase;
}

.detail-img {
    height: 70vh;
    margin: 50px;
    border-radius: 10px;
}

.btn-comprar {
    margin-left: 30px;
}

.card{
    width: 16rem;
    margin: 20px 10px;
}

.card:hover{
    background-color: rgb(212, 212, 212);
    transition: 0.2s;
}

.card img {
    height: 12rem;
    width: auto;
}

.card-title::first-letter{
    text-transform: uppercase;
}

.product-container{
    margin: 50px 0px ;
    width: 90vw;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@keyframes show-item {
    0% {
        opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
        opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
}

 @keyframes show-cart {
    0% {
      transform: scaleY(0.4);
      transform-origin: 100% 0%;
    }
    100% {
      transform: scaleY(1);
      transform-origin: 100% 0%;
    }
  }
  
  